/*
CSS specific to globe or multiple sections
*/

body {
    background-color: #f5f5f5;
}

section h2.section-heading {
    padding-top: 40px;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
    margin-top: 0;
    margin-bottom: 15px;
}

section h3.section-subheading {
    font-size: 18px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
}

section .section-note {
    color: #872121;
}

section a {
    cursor: pointer;
    text-decoration: underline;
}

.less {
    padding: 0px;
    margin: 2px;
}

h2.less {
    margin-bottom: 5px !important;
}

.navbar a.navbar-brand {
    color: #fed136;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

.chapter {
    height: 100vh;
    position: relative;
    margin-top: 25px;
}

.chapter-intro .row {
    margin-top: 40px;
}

.chapter-intro blockquote {
    font-size: 15px;
    border-left: none;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
}

.chapter-intro p {
    font-size: 18px;
    text-align: justify;
}

.chapter-intro h3 {
    font-size: 25px !important;
}

.stock-bond .axis {
    stroke-width: 0;
    fill: transparent;
    font-size: large;
    font-weight: bold;
}

.stock-bond .focus-line {
    stroke: blue;
    stroke-width: 2;
    stroke-dasharray: 5, 5;
}

.stock-bond .focus-circle {
    fill: blue;
}

.stock-bond .legend text {
    pointer-events: none;
    user-select: none;
    fill: #262429;
    font-family: sans-serif;
}

.stock-bond .legend .title text {
    font-size: 15px;
    font-weight: bold;
}

.stock-bond .legend .items text {
    font-size: 13px;
}

.stock-bond .legend .items .symbol {
    width: 24px;
    height: 24px;
}

.stock-bond .legend .items .toggle {
    width: 110px;
    height: 24px;
}

.stock-bond .legend .items circle {
    r: 10px;
}

.stock-bond .up.annotation path {
    stroke: #FF0000;
    fill: none;
}

.stock-bond .up.annotation .up.path.connector-arrow, .up.title text, .up.annotation text, .up.annotation.callout.circle .annotation-subject path {
    fill: #FF0000;
}

.stock-bond .down.annotation path {
    stroke: #00b300;
    fill: none;
}

.stock-bond .down.annotation .up.path.connector-arrow, .down.title text, .down.annotation text, .down.annotation.callout.circle .annotation-subject path {
    fill: #00b300;
}

.stock-bond .annotation-note-bg {
    fill: rgba(255, 255, 255, 0);
}

.stock-bond .annotation-note-title {
    font-size: large;
    font-weight: bold;
    user-select: none;
    pointer-events: none;
}

.stock-bond .annotation.xythreshold {
    cursor: move;
}

.stock-bond .annotation text {
    cursor: pointer;
}

.stock-bond .annotation.event path {
    stroke: #E8336D;
    stroke-width: 2px;
    fill: none;
}

.stock-bond .annotation.event text {
    fill: #E8336D;
}

.stock-bond .tooltip {
    position: absolute;
    width: 300px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    opacity: 0.8;
}

.stock-bond .tooltip p {
    margin: 3px;
    font-size: 15px;
}

.stock-bond .tooltip .emphasize {
    font-size: large;
    font-weight: bold;
}

.stock-bond .container {
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
}

.stock-bond .insights-wrapper {
    background-color: rgba(182, 195, 184, 0.2);
    height: 50vh;
    position: absolute;
    padding: 20px;
    width: 45%;
    text-align: justify;
}

.stock-bond .insights-header {
    font-size: 1.55em;
    line-height: 1.35em;
    font-weight: 700;
    border-bottom: 0.5px solid Black;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.stock-bond .insights-text {
    font-size: 1em;
}

.stock-bond .insights-next {
    position: absolute;
    text-align: center;
    width: 40%;
    bottom: 20px;
    right: 20px;
    padding: 5px;
    font-weight: 700;
}

.stock-bond .stream-chart {
    width: 100%;
    height: 65vh;
}

.stock-bond a {
    color: hotpink;
}

.red-text {
    color: Red;
}

.blue-text {
    color: Blue;
}

.orange-text {
    color: OrangeRed;
}

.green-text {
    color: Green;
}

.purple-text {
    color: Purple;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.heavyweight {
    text-decoration: underline;
    font-weight: bold;
}


/*
CSS decorations specific to each section
*/

#navbar a {
    cursor: default;
    color: white;
}

#navbar .active a, #navbar a:hover {
    color: #fed136;
}

#intro {
    background: url('../img/fed_reserve.jpg');
    background-size: cover;
    background-position: center;
}

#intro p.intro-note {
    color: #D3D3D3;
    font-size: 14px;
}

#intro .intro-text {
    padding-top: 350px;
    text-align: center;
    padding-bottom: 50px;
}

#intro .intro-text .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 60px;
    line-height: 50px;
    margin-bottom: 25px;
}

#intro .intro-text blockquote {
    border-left: none;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    margin-bottom: 0px;
}

#preface .row, #summary .row {
    margin-top: 50px;
}

#preface h3 {
    font-size: 20px;
}

#balance_div, #balance_legend {
    height: 25vh;
}

#quintile .left-section {
    margin-top: 50px;
}

#income-expense .row {
    margin-top: 5px;
}

#income-expense .filters {
    margin: 0 24px 10px 16px;
    float: right;
}

#income-expense .filters table {
    width: auto;
    border-collapse: collapse;
    border-top: 1px solid #ccc;
    margin-right: 2px;
}

#income-expense .filters table td {
    padding: 0;
    margin: 0;
}

#income-expense .filters a {
    display: block;
    width: auto;
    padding: 2px 4px;
    font-size: 1.05em;
    color: #919292;
    background: #F0F4F5;
    cursor: pointer;
    border-left: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    overflow: hidden;
}

#income-expense .filters a:hover {
    text-decoration: underline;
}

#income-expense .filters a.current {
    background: #fff;
    color: #000;
    font-weight: bold;
}

#income-expense .filters a.current:hover {
    text-decoration: none;
}

#income-expense .aheader {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

#income-expense .tick-label {
    font-size: 0.95em;
    fill: #888;
}

#income-expense .focus-label {
    font-size: 1.05em;
    font-weight: bold;
}

#income-expense .chart {
    float: left;
    padding-top: 16px;
}

#income-expense .expense {
    fill: rgb(190, 0, 50);
    stroke: rgb(190, 0, 50);
}

#income-expense .income {
    fill: rgb(0, 103, 165);
    stroke: rgb(0, 103, 165);
}

#income-expense .focus-line {
    stroke-width: 1.2;
    stroke-dasharray: 4, 4;
}

#income-expense .line, circle.area {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

#income-expense .left {
    float: left;
}

#income-expense a {
    text-decoration: none;
}

#income-expense .vis {
    width: 100%;
    height: 70vh;
}

#income-expense .explain {
    margin: 0 0 0 0px;
    height: 50px;
}

#income-expense .explain h3 {
    border-bottom: 0.5px solid Black;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

#income-expense .explain p {
    color: #717171;
    margin-top: 0;
}

#quintile div.offset {
    padding-top: 40px;
}

#quintile .axis, #debt .axis, #fed-vis .axis {
    stroke-width: 0;
    fill: transparent;
}

#quintile .legend text, #debt .legend text, #fed-vis .legend text {
    pointer-events: none;
    user-select: none;
    font-weight: bold;
}

#quintile .tooltip, #debt .tooltip, #fed-vis .tooltip {
    position: absolute;
    width: 240px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    opacity: 0.8;
}

#quintile .tooltip p, #debt .tooltip p, #fed-vis .tooltip p {
    margin: 3px;
}

#quintile .tooltip .emphasize, #debt .tooltip .emphasize, #fed-vis .tooltip .emphasize {
    font-size: large;
    font-weight: bold;
}

#quintile .container {
    margin-top: 60px;
}

#debt .container {
    margin-top: 80px;
}

/*
Optimation for laptop with small screen
*/

@media (max-height: 900px) {
    section h2.section-heading {
        padding-top: 25px;
        font-size: 32px;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .chapter-intro p {
        font-size: 16px;
        text-align: justify;
    }
    .chapter-intro h3 {
        font-size: 20px !important;
    }
    .stock-bond .insights-text {
        font-size: 0.85em;
    }
    .stock-bond .legend .title text {
        font-size: 13px;
        font-weight: bold;
    }
    .stock-bond .legend .items text {
        font-size: 11px;
    }
    .stock-bond .legend .items .symbol {
        width: 18px;
        height: 18px;
    }
    .stock-bond .legend .items .toggle {
        width: 95px;
        height: 18px;
    }
    .stock-bond .legend .items circle {
        r: 8px;
    }
    #intro .intro-text {
        padding-top: 200px;
        text-align: center;
        padding-bottom: 50px;
    }
    #preface .row, #summary .row {
        margin-top: 20px;
    }
    #fed-vis h2, #income-expense h2, #quintile h2 {
        font-size: 25px;
        margin-top: 25px;
        padding-top: 0px;
    }
    #fed-vis h3, #income-expense h3, #quintile h3 {
        font-size: 15px;
        margin-top: 5px;
    }
    #fed-vis p, #income-expense p, {
        font-size: 10px;
    }
    #fed-vis h2.second {
        margin-top: 5px;
    }
    #income-expense .filters a {
        display: block;
        width: auto;
        padding: 2px 4px;
        font-size: 0.85em;
        color: #919292;
        background: #F0F4F5;
        cursor: pointer;
        border-left: 1px solid #CCCCCC;
        border-bottom: 1px solid #CCCCCC;
        border-right: 1px solid #CCCCCC;
        overflow: hidden;
    }
    #income-expense .chart {
        float: left;
        padding-top: 0px;
        border-left: 0px dotted #e2e2e2;
        border-top: 0px dotted #e2e2e2;
    }

    #debt .container {
        margin-top: 25px;
    }

    #quintile .container {
        margin-top: 25px;
        margin-left: 4%;
    }
}
