body {
    margin-top: 30px;
    background-color: #2a2a2b;
}

blockquote {
    font-size: 24px;
    text-align: center;
    font-style: italic;
}

.page {
    height: 100vh;
}

.chart {
    min-width: 400px;
    max-width: 800px;
    height: 340px;
    margin: 0 auto;
}

.sub_title {
    margin-top: 30px;
    font-size: 24px;
    color: white;
}

.text_content {
    font-size: 18px;
    font-style: oblique;
    color: white;
}

.highcharts-background {
    stroke: #2a2a2b;
}

#intro_container {
    background: url('../images/fed_reserve.jpg');
    background-size: cover;
    background-position: center;
}

#title_name {
    padding-top: 250px;
    font-size: 5em;
    text-align: center;
    font-weight: 700;
    color: #000000;
}

#timeline_container {
    padding-top: 150px;
    text-align: center;
}

#charts_text_container {
    margin-top: 130px;
    margin-left: 180px;
}

#charts_container {
    margin-top: 100px;
}

#maps_text_container {
    margin-top: 300px;
}

#maps_container {
    min-width: 600px;
    max-width: 800px;
    height: 600px;
    margin-top: 150px;
    margin-left: 200px;
}
